exportPattern("^[[:alpha:]]+")
export(dplace_all_societies)
export(dplace_all_societies_)
importFrom(dplyr,"%>%")
importFrom(dplyr,as_data_frame)
importFrom(dplyr,bind_rows)
importFrom(dplyr,bind_cols)
importFrom(dplyr,data_frame)
importFrom(httr,GET)
importFrom(httr,content)
importFrom(httr,modify_url)
importFrom(jsonlite,fromJSON)
